<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">Terms &amp; Conditions</h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis consectetur nibh, eu accumsan urna posuere sed. Suspendisse tortor est, semper sed urna vitae, sodales interdum lacus. Aliquam lacinia odio sit amet sapien gravida, eu tincidunt eros cursus. Mauris commodo feugiat urna, nec commodo nisl mattis vitae. Vivamus vitae scelerisque risus, ut euismod dui. In libero nisi, pharetra eget varius ut, feugiat sed leo. Nullam rhoncus pharetra odio, vitae dapibus dui viverra efficitur. Nulla facilisi. Nulla posuere in ipsum vel consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque accumsan eleifend erat, aliquet bibendum magna vulputate a. Phasellus id mauris ante. </p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis consectetur nibh, eu accumsan urna posuere sed. Suspendisse tortor est, semper sed urna vitae, sodales interdum lacus. Aliquam lacinia odio sit amet sapien gravida, eu tincidunt eros cursus. Mauris commodo feugiat urna, nec commodo nisl mattis vitae. Vivamus vitae scelerisque risus, ut euismod dui. In libero nisi, pharetra eget varius ut, feugiat sed leo. Nullam rhoncus pharetra odio, vitae dapibus dui viverra efficitur. Nulla facilisi. Nulla posuere in ipsum vel consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque accumsan eleifend erat, aliquet bibendum magna vulputate a. Phasellus id mauris ante. </p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis consectetur nibh, eu accumsan urna posuere sed. Suspendisse tortor est, semper sed urna vitae, sodales interdum lacus. Aliquam lacinia odio sit amet sapien gravida, eu tincidunt eros cursus. Mauris commodo feugiat urna, nec commodo nisl mattis vitae. Vivamus vitae scelerisque risus, ut euismod dui. In libero nisi, pharetra eget varius ut, feugiat sed leo. Nullam rhoncus pharetra odio, vitae dapibus dui viverra efficitur. Nulla facilisi. Nulla posuere in ipsum vel consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque accumsan eleifend erat, aliquet bibendum magna vulputate a. Phasellus id mauris ante. </p>

      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
      </div>

    </div>
  </div>
</section>
