<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect">
        <img src="https://images.pexels.com/photos/1227497/pexels-photo-1227497.jpeg" alt="" class="card-img-top img-fluid">
        <div class="card-body">
          <small class="bg-light text-danger text-center">Design</small>
          <small class="bg-light text-success text-center ml-2">Featured</small>
          <small class="bg-light text-info text-center ml-2">Views - 101</small>
          <small class="bg-light text-warning text-center ml-2">LAST UPDATED - SEP 20, 2021</small>

          <h1 class="mt-3 mb-3">HOW TO START A BLOG IN 2025 EDITED NEW CATEGORY</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sagittis, lorem eu mattis fringilla, felis turpis euismod urna, tincidunt aliquet diam odio vitae neque. Nullam ultricies porttitor turpis, a dictum ex sollicitudin et. Integer iaculis lacus nulla, ac pulvinar velit facilisis ac. In hac habitasse platea dictumst. Pellentesque eget rhoncus massa, a posuere augue. Mauris eleifend, libero vitae dictum fermentum, dolor libero pretium lacus, et dictum libero lacus id arcu. Nulla nibh nisl, sodales hendrerit sapien tincidunt, aliquam hendrerit sapien. Donec nec leo velit. Morbi et feugiat dui, quis aliquet dui. Proin tempor tincidunt augue aliquam hendrerit. Etiam ac bibendum dui, quis ultrices ligula. Sed tempus cursus purus quis sollicitudin. Pellentesque interdum aliquam nisi, nec efficitur libero pretium eget. Morbi vel dapibus arcu. </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sagittis, lorem eu mattis fringilla, felis turpis euismod urna, tincidunt aliquet diam odio vitae neque. Nullam ultricies porttitor turpis, a dictum ex sollicitudin et. Integer iaculis lacus nulla, ac pulvinar velit facilisis ac. In hac habitasse platea dictumst. Pellentesque eget rhoncus massa, a posuere augue. Mauris eleifend, libero vitae dictum fermentum, dolor libero pretium lacus, et dictum libero lacus id arcu. Nulla nibh nisl, sodales hendrerit sapien tincidunt, aliquam hendrerit sapien. Donec nec leo velit. Morbi et feugiat dui, quis aliquet dui. Proin tempor tincidunt augue aliquam hendrerit. Etiam ac bibendum dui, quis ultrices ligula. Sed tempus cursus purus quis sollicitudin. Pellentesque interdum aliquam nisi, nec efficitur libero pretium eget. Morbi vel dapibus arcu. </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sagittis, lorem eu mattis fringilla, felis turpis euismod urna, tincidunt aliquet diam odio vitae neque. Nullam ultricies porttitor turpis, a dictum ex sollicitudin et. Integer iaculis lacus nulla, ac pulvinar velit facilisis ac. In hac habitasse platea dictumst. Pellentesque eget rhoncus massa, a posuere augue. Mauris eleifend, libero vitae dictum fermentum, dolor libero pretium lacus, et dictum libero lacus id arcu. Nulla nibh nisl, sodales hendrerit sapien tincidunt, aliquam hendrerit sapien. Donec nec leo velit. Morbi et feugiat dui, quis aliquet dui. Proin tempor tincidunt augue aliquam hendrerit. Etiam ac bibendum dui, quis ultrices ligula. Sed tempus cursus purus quis sollicitudin. Pellentesque interdum aliquam nisi, nec efficitur libero pretium eget. Morbi vel dapibus arcu. </p>
        </div>
      </div>
      <app-comment-form></app-comment-form>
    </div>
    <div class="col-md-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
